// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//input
$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-border-radius-lg: 0;
$input-focus-box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%);
$input-padding-x: 1.5rem;

//buttons
$btn-border-radius: 0.2rem;

//links
$a-text-decoration: none;

//cards
$card-border-radius: none;
$card-inner-border-radius: none;
